.countryList {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dva sloupce */
  gap: 1.6rem;
  padding: 0;
}

.countryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  background-color: #2d3439;
  border-radius: 7px;
  padding: 1rem 2rem;
  border-left: 5px solid #ffb545; /* Oranžový proužek pro země */
  font-size: 1.7rem;
  font-weight: 600;
}