.homepage {
  background-color: rgb(27, 162, 162);
  height: 60vh;
  width: 100%;
    display: flex;
}

.homepage a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;

}

.sidebar {
  flex-basis: 40%;
  background: #416b7f;
}
.appmap {
  flex-basis: 60%;
  background: #19a04f;
}