.homepage {
  background-color: rgb(27, 162, 162);
  
  width: 100%;
    display: flex;
  height: calc(100vh - 5rem); 
  overflow: hidden;
}

.homepage a {
  text-decoration: none;
  color: rgb(50, 241, 7);
  padding: 5px 10px;

}

.sidebar {
  flex-basis: 40%;
  background: #416b7f;
}
.appmap {
  flex-basis: 60%;
  background: #19a04f;
}