* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  color: rgb(236, 231, 231);
}

body {
  background-color: #4366b0;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  padding-top: 3rem;
  border: 1px solid rgb(200, 199, 199);
  margin: 10rem auto;
  background-color: #535965;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  justify-content: center;
}

.container {
  border-radius: 1rem;
}

.container li {
  border: 1px solid rgb(200, 199, 199);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 4rem 1fr auto;
  margin: 0.1rem;
  padding: 1.1rem;
}

.container li img {
  border-radius: 1rem;
  width: 100%;
  grid-row: span 2;
}

.container li h3 {
  color: rgb(200, 199, 199);
  font-size: 1.5rem;
  grid-row: 1;
  grid-column: 2;
}

.container li p {
  grid-row: 2;
  grid-column: 2;
  font-size: 1.3rem;
}

.button {
  background-color: rgb(10, 109, 10);
  color: rgb(200, 199, 199);
}

.container li .button {
  grid-row: span 2;
  grid-column: 3;
  width: 8rem;
  border-radius: 1rem;
  cursor: pointer;
}

.green {
  color: rgb(16, 157, 16);
}

.red {
  color: red;
}

.sidebar {
  display: grid;
}

.sidebar > .button {
  float: right;
  margin-right: 1.2rem;
  padding: 0.6rem;
}

form {
  display: grid;
  grid-column: 2;
}
